mat-toolbar {
    position: sticky;
    z-index: 2;
    top: 0;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-sidenav, mat-sidenav-content {
    padding: 15px;
}

mat-sidenav-content {
    height: 87vh;
}

a {
    margin-top: 1%;
    margin-bottom: 1%;
}

.mat-list-item.active {
    background: rgba(0, 0, 0, .04);
}

mat-toolbar button {
    visibility: hidden !important;
    margin-right: 12px;
}

@media (max-width: 767px) {
    mat-icon {
        visibility: visible !important;
    }
}