#info-panel {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-card {
    width: 40%;
}

h1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 2%;
}

b {
    grid-column: 1;
}

span, mat-chip-list {
    grid-column: 2;
}

.success-chip {
    background-color: #72d370 !important;
}

mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-upload-btn {
    border-radius: 12px;
    background: none;
    color: #3f51b5;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 5%;
}

input[type="file"] {
    display: none;
}